.contact-item {
    background: linear-gradient(45deg, #000000, #000000, #3e3e3e);
    padding: 2rem;
    border-radius: 15px;
    transition: all 0.3s ease;
    border: 1px solid rgba(19, 51, 44, 0.2);
}

.contact-item:hover {
    transform: translateY(-5px);
    background: rgba(0, 0, 0, 0.548);
}

.contact-item h3 {
    color: #ffffff;
    margin-bottom: 1rem;
}
